UnityGameUI2022/.idea
UnityComposeUI2022/.idea
UnityComposeUI2022/unityLibrary/build
UnityComposeUI2022/unityLibrary/src/main/jniLibs
UnityComposeUI2022/unityLibrary/symbols
UnityComposeUI2022/unityLibrary/src/main/jniStaticLibs
UnityComposeUI2022/unityLibrary/libs
UnityComposeUI2022/unityLibrary/src/main/assets
UnityComposeUI2022/unityLibrary/src/main/Il2CppOutputProject
compose_game_db_2023/.idea
android_compose_for_unity_2022/.idea
